---
- name: install stow
  become: "{{ should_be_root }}"
  ansible.builtin.package:
    name: stow
    state: present

- name: remove stuff that will conflict with stow
  loop:
    - .zshrc.base.sh
    - .zshrc.linux.sh
    - .zshrc.mac.sh
    - .zshrc.win.sh
    - .p10k.zsh
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/{{ item }}"
    state: absent

- name: run stow
  shell: "stow . --target {{ ansible_env.HOME }} --verbose=2"
  args:
    chdir: ./dotfiles
    executable: /bin/bash
  register: result
  changed_when: 'result.stderr is search("LINK: ")'

- name: add reference to base dotfiles to zshrc
  ansible.builtin.lineinfile:
    path: "{{ ansible_env.HOME }}/.zshrc"
    line: "source {{ ansible_env.HOME }}/.zshrc.base.sh"
    create: yes

- name: add reference to macOS-specific dotfiles to zshrc
  when: is_macos
  ansible.builtin.lineinfile:
    path: "{{ ansible_env.HOME }}/.zshrc"
    line: "source {{ ansible_env.HOME }}/.zshrc.mac.sh"
    create: yes

- name: add reference to Linux-specific dotfiles to zshrc
  when: is_debian
  ansible.builtin.lineinfile:
    path: "{{ ansible_env.HOME }}/.zshrc"
    line: "source {{ ansible_env.HOME }}/.zshrc.linux.sh"
    create: yes

- name: add reference to WSL-specific dotfiles to zshrc
  when: is_wsl
  ansible.builtin.lineinfile:
    path: "{{ ansible_env.HOME }}/.zshrc"
    line: "source {{ ansible_env.HOME }}/.zshrc.wsl.sh"
    create: yes

- name: add reference to Powerlevel10k theme to zshrc
  ansible.builtin.lineinfile:
    path: "{{ ansible_env.HOME }}/.zshrc"
    line: "source {{ ansible_env.HOME }}/.zshrc.p10k.sh"
    create: yes

- name: add reference to Atuin zsh config to zshrc
  ansible.builtin.lineinfile:
    path: "{{ ansible_env.HOME }}/.zshrc"
    line: "source {{ ansible_env.HOME }}/.zshrc.atuin.sh"
    create: yes
