---
- name: install zsh
  become: "{{ should_be_root }}"
  when: is_debian
  ansible.builtin.package:
    name: zsh
    state: present

- name: install Oh My Zsh
  ansible.builtin.git:
    repo: https://github.com/ohmyzsh/ohmyzsh.git
    dest: ~/.oh-my-zsh
    depth: 1

- name: install zsh-autosuggestions plugin
  ansible.builtin.git:
    repo: https://github.com/zsh-users/zsh-autosuggestions
    dest: ~/.oh-my-zsh/custom/plugins/zsh-autosuggestions
    depth: 1

- name: install zsh-syntax-highlighting plugin
  ansible.builtin.git:
    repo: https://github.com/zsh-users/zsh-syntax-highlighting.git
    dest: ~/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting
    depth: 1

- name: install Powerlevel10k theme
  ansible.builtin.git:
    repo: https://github.com/romkatv/powerlevel10k.git
    dest: ~/.oh-my-zsh/custom/themes/powerlevel10k
    depth: 1

- name: change user shell to zsh
  become: "{{ should_be_root }}"
  ansible.builtin.user:
    # this ensures that we change the shell _for the user running this playbook_,
    # rather than _for the root user_.
    name: "{{ ansible_user_id }}"
    shell: /bin/zsh
