---
- name: set Gnome wallpaper
  ansible.builtin.shell: |
    gsettings set org.gnome.desktop.background picture-uri 'file:///usr/share/backgrounds/jb-1610.jpg'
    gsettings set org.gnome.desktop.background picture-uri-dark 'file:///usr/share/backgrounds/jb-1610.jpg'
