---
- name: install CLI utils with packages
  become: true
  ansible.builtin.package:
    name:
      - bat
      - curl
      - eza
      - fzf
      - ripgrep
      - fd-find
      - jq
    state: present

- name: install Atuin
  become: true
  ansible.builtin.shell: |
    curl --proto '=https' --tlsv1.2 -LsSf https://setup.atuin.sh | sh
