---
- name: install CLI utils with packages
  become: "{{ should_be_root }}"
  ansible.builtin.package:
    name:
      - bat
      - curl
      - eza
      - fzf
      - jq
      - ripgrep
    state: present

- name: install CLI utils with packages (Mac)
  when: is_macos
  become: "{{ should_be_root }}"
  ansible.builtin.package:
    name:
      - fd
    state: present

- name: install CLI utils with packages (Debian)
  when: is_debian
  become: "{{ should_be_root }}"
  ansible.builtin.package:
    name:
      - fd-find
    state: present

- name: install Atuin
  become: "{{ should_be_root }}"
  ansible.builtin.shell: |
    curl --proto '=https' --tlsv1.2 -LsSf https://setup.atuin.sh | sh

- name: ensure ~/.local/bin directory exists
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.local/bin"
    state: directory
    mode: '0755'

- name: install custom scripts
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "{{ ansible_env.HOME }}/.local/bin/{{ item | basename }}"
    mode: '0755'
  with_fileglob:
    - "{{ role_path }}/bin/*"
